<div id="footer" class="container">
  <p class="pull-left">Copyright © 2013 mental-constructs.com. All rights reserved by Rahoul Datta.</p>
  <nav class="pull-right">
    <ul>
      <a href="/apropos/about">About</a> &nbsp;|&nbsp;
      <a href="/apropos/about">Contact</a> &nbsp;|&nbsp;
      <!--<a href="#">Special Thanks to ...</a>-->
    </ul>
  </nav>
</div>